ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
li a:hover{
    background-color: black;
}